@import (less) '../../bower_components/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css';
@import '../../bower_components/toastr/toastr';
@import (less) '../../bower_components/magnific-popup/dist/magnific-popup.css';

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 220px;
  -webkit-font-smoothing: antialiased;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  color: #fff;
  background-color: #393c40;
}

footer a {
  color: #fff;
  text-decoration: underline;

  &:hover,
  &:focus {
    color: #fff;
    text-decoration: none;
  }
}

footer .thumb-md {
  border: 1px solid rgba(255,255,255,.15);
  transition: border .1s linear;

  &:hover {
    border-color: rgba(255,255,255,.3);
  }
}

/*
 *Other Custom Styles
 */

th {
  white-space: nowrap;
}

.cell-wrapper {
  max-width: 6.250em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  &.comment-cell,
  &.location-cell,
  &.group-cell {
    white-space: normal;
    max-width: 15.625em;
  }
  &.email-cell {
    max-width: 9.688em;
  }
  &.phone-cell {
    max-width: 7.5em;
  }
  &.full-name-cell {
    max-width: 12.5em;
  }
  &.date-time-cell {
    max-width: 7.5em;
  }
  &.date-cell {
    max-width: 5.750em;
  }
}